header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0  0.1rem 0.3rem gray;
  height: 4rem;
}

.container {
  width: 85rem;
  display: flex;
  flex-wrap: wrap;
  gap:  2.3rem;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.7rem;
}

.logo span {
  font-size: 2rem;
  font-weight: 600;
}

.logo .vertical-div {
  height: 40%;
  border-left: 1px solid gray;
}

.logo div {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 85rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap:  2.3rem;
}

.recipe-card {
  display: flex;
  flex: 0 1 325px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}